table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:18px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

tr {
    text-align: center;
}


.stijgen {
    color: darkgreen;
    background-color: lightgreen;
}
.neutraal {
    color: darkblue;
    background-color: lightblue;
}
.dalen {
    color: darkred;
    background-color: lightcoral;
}

